.image-fade{
    position: relative;
    
}

.image img{

width: 200px;   
margin-left: 80px;
margin-top: 100px;

}

.image h1{

color: grey;
margin-bottom: 100px;
margin-left: 80px;
font-size: 100px;


}
body{
    overflow: hidden;
}
.image{

    width:99.99vw;
    height:99.99vh;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    animation:anime 20s infinite forwards;
    opacity: 0;
    
}


.image:nth-child(1){
    background-image: url('/images/view.jpg');
   animation-delay:0s;
}
.image:nth-child(2){
    background-image: url('/images/Interior.jpg');
    animation-delay: 4s;
}
.image:nth-child(3){
background-image: url('/images/Chips.jpg');
animation-delay: 8s;

}
.image:nth-child(4){
background-image: url('/images/cocktail.jpg');
animation-delay: 12s;
}
.image:nth-child(5){
background-image: url('/images/desert.jpg');
animation-delay: 16s;
}
@keyframes anime{
    0%{opacity:0;}
    10%{opacity:1;}
    30%{opacity:1;}
    40%{opacity:100;}
    100%{opacity:100;}e website
}


.overlay-text h1{

position: absolute;
top: 50% ;


}
header{
    position: absolute;
}

.nav a{

 display: block;
 background-color: blanchedalmond;
 position: absolute;
 
   
}
.navigation-bar{
    position: fixed;
    color: white;
    top: 600px;
    font-size: 120%;
    display: flex;
    gap: 23px;
    text-decoration: none;
    width: 540px;
    height:50px;
    padding: 20px;
    background-color: black;
    text-align: center;
    border-radius: 50px;
    left: 480px;

   
    

}


.navigation-bar a{
    text-decoration: none;
    color: white;

}

@media (max-width: 992px) {
    .navigation-bar {
      display: none;
    }
    
    
  }
  
  @media (max-width: 768px) {
    .image-fade{
      height: 100vh;
      padding:0 3.0rem ;
    }
    
    .header-container {
      padding: 0 1.5rem;
    }
  }
  
  @media (max-width: 576px) {
     {
      --header-height: 60px;
      --section-padding: 2rem 0;
    }
    
    .image img {
      height: 35px;
    }
  }
